table {
  border: 1px solid red;
}
tbody {
  border: 1px solid red;
}

tr {
  border: 1px solid red;
}
th {
  border: 1px solid red;
}
td {
  border: 1px solid red;
  padding: 10px;
  width: 100px;
}
